# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
**/Generated.xcconfig
**/Flutter.podspec
**/Pods/
**/xcuserdata/
**/DerivedData/
*.log
*.lock
*.iml
.ssh/
*.pem
*.ppk
*.key
id_rsa
id_dsa
id_ecdsa
id_ed25519
!*.pub
.idea/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/
web/wasm/
buildlogs/*.png
logs/
